.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container input{
    height: 30px;
}

.container h1{
    font-family: 'Roboto';
}

.form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container input{
    font-size: 16px;
}

.container textarea{
    font-size: 22px;
    overflow: auto;
}

.container textarea, .container input{
    border: 1px solid;
    border-radius: 10px;
    border-color: rgba(166,189,215, 1);
}

.container input:focus, .container textarea:focus{
    border: 2px solid;
    border-color: rgba( 0,49,83, 1);
    outline: none;
}

.container button{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    border: none;
    color: white;
    font-family: 'Roboto';
    background-color: rgba(73,103,141, 1);
}

@media (max-width: 1280px){
    .form{
        width: 90%;
    }
}