body{
    background-color: rgba(220,220,220, .4);
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
}

.main-container{
    display: flex;
    justify-content: space-around;
}

.form-container{
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container input, .form-container textarea{
    display: flex;
    border: 1px solid;
    border-color: rgba(166,189,215, 1);
    border-radius: 20px;
    padding: 8px;
}

.form-container input, .form-container button{
    width: 50%;
    height: 38px;
}

.form-container button{
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    color: white;
    font-family: 'Roboto';
    background-color: rgba(73,103,141, 1);
}

.form-container textarea{
    resize: none;
    width: 50%;
    height: 200px;
    font-size: 20px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container input:focus{
    border: 2px solid;
    border-color: rgba( 0,49,83, 1);
    outline: none;
}


.img-container img{
    border-radius: 20px;
}

.comments-container{
    margin-top: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 50%;
}